@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '/src/app/theme/styles/themes.scss';
@import "src/styles.scss";

@include nb-install-component() {
    nb-card.dialog {
        width: 40vw;
        nb-card-footer {
            button {
                // margin-right: 0.5rem;
            }
        }

        // ng-select:hover{
        //     width: 36vw;
        //     position: fixed;
        // }
    }

    .dialogCardBody {
      overflow: visible;
    }
}

.form-group {
  padding: 10px;
}

.dialog {
  height: fit-content !important;
}
