@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '/src/app/theme/styles/themes.scss';

@include nb-install-component() {
    nb-card.dialog {
        width: 40vw;
    }
    .rounded-pill-file {
        background-color: #DBF5F0;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem;
        border-radius: 5px;
      }

      .justify-content-between {
        align-items: center;
      }
}