
/*Ui Sheet Start*/

/*Neutral Dark*/
$neutral-dark:#000;
$neutral-dark-1:#31353D;
$neutral-dark-2:#444;
$neutral-dark-3:#5B5B5B;
$neutral-dark-4:#626A7A;

/*Neutral Light*/
$neutral-light:#fff;
$neutral-light-1:#FAFAFA;
$neutral-light-2:#F5F5F5;
$neutral-light-3:#D9D9D9;
$neutral-light-4:#D2D2D2;
$neutral-light-5:#CCCCCC;
$neutral-light-6:#C4C4C4;

/* Grey Colors */
$grey-50:#F7FAFC;
$grey-100:#EDF2F7;
$grey-200:#E2E8F0;
$grey-300:#CBD5E0;
$grey-400:#A0AEC0;
$grey-500:#718096;
$grey-600:#4A5568;
$grey-700:#2D3748;
$grey-800:#1A202C;
$grey-900:#171923;

/*Primary Color*/
$primary-50:#E4F0F8;
$primary-100:#BDD9F0;
$primary-200:#96C2E5;
$primary-300:#73ABDA;
$primary-400:#5B9AD3;
$primary-500:#498ACC;
$primary-600:#427DBF;
$primary-700:#3A6CAD;
$primary-800:#325C9B;
$primary-900:#263F7B;

/*Secondary Color*/
$secondary-50:#DBF5F0;
$secondary-100:#A6E5D8;
$secondary-200:#63D5BE;
$secondary-300:#00C2A4;
$secondary-400:#00B291;
$secondary-500:#00A37F;
$secondary-600:#009572;
$secondary-700:#008562;
$secondary-800:#007454;
$secondary-900:#005838;

/*Semantic Color*/
$semantic-success:#06C28D;
$semantic-warning:#FACA0F;
$semantic-danger:#EE1A4D;
$semantic-progress:#B4D94C;


/*Ui Sheet End*/


$bodyFont: 14px;
$pageTitle: 24px;


