<div class="row">
  <div class="col-4" *ngFor="let item of filterItems; let i = index">
    <app-overview-card
      [content]="item"
      [index]="i"
      [clickedClass]="item.checked ? 'selected-' + i : ''"
      [type]="'filter'"
      (click)="filterClick(item)"
    ></app-overview-card>
  </div>
</div>
<div class="row">
  <div class="col-6" *ngFor="let item of statusItems; let i = index">
    <app-overview-card
      [statusContent]="item"
      [index]="i"
      [type]="'status'"
      (filterEvent) = "onFilterFired($event)"
    ></app-overview-card>
  </div>
</div>
